page-athlete-history {
  .btn-alert{
    background: #f53d3d;
    text-align: center;
    color: white;
  }
  .noAssisted {
    background: #f53d3d;
    text-align: center;
    height:100%;
    width:100%;
    color: white;
  }
  .assisted {
    background: #536dfe;
    text-align: center;
    height:100%;
    width:100%;
    color: white;
  }
}
